.logo-name {
    font-size: 30px;
}

.divider {
    height: 5px;
}

#parallax_1 {
    height: 350px;
}     

.quote {
    margin: 15px;
    font-style: italic;
}

.pres_container {
    border: solid rgb(43, 126, 141) 3px;
    border-radius: 17px;
}

.responsive-img {
    border: solid rgb(43, 126, 141) 3px;
}

.small-screen-quote {
    display: none;
}
.comp_container {
    margin-top: 2em;
}

.comp_titles {
    font-size: 20px;
    margin-bottom: 0;
    font-style: italic;
}

.comp_ul {
    margin-top: 1.5em;
}

.comp_li {
    margin: 1em;
}

.comp_li:first-child {
    margin-top:0;
}

#parcours_container {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

#h4_parcours {
    background-color: rgb(43, 126, 141);
    background-color: rgb(80, 79, 79);
    box-shadow: 3px 3px 13px -3px rgba(0,0,0,0.62);
    border-radius: 5px;
    width: 25%;
}

.linkedin_icon {
    width: 28px;
}

.git_icon {
    width: 28px;
}


#footer_email:before {
    font-family: "Material Icons";
    content: "email";
    color: #000000;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

#footer_phone:before {
    font-family: "Material Icons";
    content: "phone";
    color: #000000;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.footer_contact {
    margin: 1em 0 1em 0;
}


/* MEDIA QUERIES */


@media screen and (min-width: 601px) {
    .comp_li:before {
        font-family: "Material Icons";
        content: "bubble_chart";
        color: #00838f;
        display: inline-block;
        vertical-align: middle;
    }
}

@media screen and (max-width: 830px) {
    .logo-name {
        font-size: 20px;
    }
    .large-screen-quote {
        display: none;
    }
    .small-screen-quote {
        display: block;
    }
}